.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.color-cyan {
    color: var(--color-cyan)
}

.all-caps {
    text-transform: uppercase;
}

.text-left {
    width: 100%;
    text-align: left;
    font-size: var(--fs-xl);
}