.header-container {
    display: flex;
    justify-content: space-between;
    padding: var(--space-1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: var(--space-1);
}

.color-cyan {
    color: var(--color-cyan)
}

.all-caps {
    text-transform: uppercase;
}