# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.venv
venv
.mypy_cache
.pytest_cache
.ruff_cache

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea

# Logs & data
logs/
*.log

# Tests & docs
test/
playground/
README.md

# Scripts
scripts/
