.icon-input {
    display: flex;
    width: 100%;
    gap: var(--space-3);
    padding: var(--space-3)
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: var(--space-3)
}