.kpis-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    place-items: center;
    gap: var(--space-6);
    width: 100%;
    padding: var(--space-6);

    & > * {
        height: 100%;
    }
}

