.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--space-3);
    padding: var(--space-1);
    transition: transform 0.3s ease-in-out
}

.content:hover {
    cursor: pointer;
    transform: translateY(-4px);
}


.selected {
    background: var(--fill-cyan);
    border-radius: var(--radius-md);
}

.draft {
    text-transform: uppercase;
    color: var(--color-warning);
}  

.editing {
    text-transform: uppercase;
    color: var(--color-cyan);
} 

.published {
    text-transform: uppercase;
    color: var(--text-muted)
}