.sidebar-item {
    display: flex;
    flex-direction: column;
    padding: var(--space-4);
}

.sidebar-item:active {
    background: var(--fill-cyan);
    border: 1px solid var(--border-focus);
    border-radius: var(--radius-md)
}