.content-container {
    display: flex;
    flex-direction: column;
    padding: var(--space-5);
    margin: 0 auto;
    overflow-y: scroll;
}

.list-and-pulse-container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: var(--space-5);
    padding: var(--space-5);
}